<div class="product-list-page">

  <header class="list-header">
    <h1>Proizvodi</h1>
  </header>

  <div class="product-grid">
    @for (p of products(); track p.id) {
      <article class="product-card">
        <div class="card-image-wrap">
          <img [src]="p.image[0]" [alt]="p.title" class="card-image" />
        </div>

        <div class="card-body">
          <h2 class="card-title">{{ p.title }}</h2>
          <p class="card-price">{{ p.price }} €</p>

          <button type="button" class="details-btn" (click)="viewDetails(p.id)">
            Vidi detalje
          </button>
        </div>
      </article>
    }
  </div>

</div>